<a href="https://colab.research.google.com/github/ahsenozturk1/hi-work---odev/blob/main/Pandas_%C3%96dev_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

##### 1. Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [ ]:
import pandas as pd

sozluk = {
    "Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
    "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
    "Fiyat" : [300,180,450,50,700,400,150,80,850,900]
}

df = pd.DataFrame(sozluk)

print(df)

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

##### 2. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi)
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [ ]:
import pandas as pd

sozluk = {
    "Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
    "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
    "Fiyat" : [300,180,450,50,700,400,150,80,850,900]
}

df = pd.DataFrame(sozluk)

kategori_2 = df.loc[2, "Kategori"]
print(f"2. indexdeki kategori: {kategori_2}")

urun_2 = df.loc[2, "Ürün"]
print(f"2. indexdeki ürün: {urun_2}")

veri_4_9 = df.loc[4:9]
print(f"\n4'ten 9'a kadar olan veriler:\n{veri_4_9}")

urun_1_6 = df.loc[1:6, "Ürün"]
print(f"\n1'den 6'ya kadar olan ürünler:\n{urun_1_6}")

2. indexdeki kategori: Ayakkabı
2. indexdeki ürün: Sandalet

4'ten 9'a kadar olan veriler:
   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

1'den 6'ya kadar olan ürünler:
1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

##### 3. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [4]:
giyim_urunler = df[df["Kategori"] == "Giyim"]["Ürün"]
print(giyim_urunler.tolist())

['Kazak', 'T-shirt', 'Pantolon', 'Ceket']

In [5]:
ayakkabi_urunler = df[df["Kategori"] == "Ayakkabı"]["Ürün"]
print(ayakkabi_urunler.tolist())

['Sandalet', 'Spor Ayakkabı', 'Çizme']

In [6]:
aksesuar_urunler = df[df["Kategori"] == "Aksesuar"]["Ürün"]
print(aksesuar_urunler.tolist())

['Küpe', 'Kolye', 'Yüzük']

##### 4 Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [7]:
giyim_filt = df[(df["Kategori"] == "Giyim") & (df["Fiyat"] > 300)]
print(giyim_filt[["Ürün", "Fiyat"]])

       Ürün  Fiyat
5  Pantolon    400
9     Ceket    900

In [8]:
ayakkabi_filt = df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"] < 600)]
print(ayakkabi_filt[["Ürün", "Fiyat"]])

       Ürün  Fiyat
2  Sandalet    450

In [9]:
aksesuar_filt = df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"] > 100)]
print(aksesuar_filt[["Ürün", "Fiyat"]])

    Ürün  Fiyat
6  Kolye    150